<!DOCTYPE html>
<html>
  <head>
    <title>I18nSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div align='right'>
      <%= locale == :ja ? '日本語' : link_to('日本語', root_path(lang: 'ja')) %>
      |
      <%= locale == :en ? 'English' : link_to('English', root_path(lang: 'en')) %>
    </div>
    <%= yield %>
  </body>
</html>
